export PROJECT_PATH=$(git rev-parse --show-toplevel)
export PYTHONPATH=$PYTHONPATH:$PROJECT_PATH
export PYTHONPATH=$PYTHONPATH:$PROJECT_PATH/src
export PYTHONPATH=$PYTHONPATH:$PROJECT_PATH/assets

export PYTHONPATH
